<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="gmock.v1.8" version="1.8.1" targetFramework="native" />
  <package id="Philips.Build.Git" version="1.0.0.100058" targetFramework="native" developmentDependency="true" />
  <package id="Philips.Database" version="1.0.0.100527" targetFramework="native" />
  <package id="Philips.IPlatform" version="1.0.0.100020" targetFramework="native" />
  <package id="Philips.Mini" version="1.0.0.100295" targetFramework="native" />
  <package id="Philips.Models.Database" version="1.0.0.100111" targetFramework="native" />
  <package id="Philips.Models.Dicom" version="1.0.0.100059" targetFramework="native" />
  <package id="Philips.Net" version="1.0.0.1000741" targetFramework="native" />
  <package id="Philips.Sense" version="1.13.0.3925-master" targetFramework="native" />
  <package id="Philips.Sense.Automation" version="1.13.0.3925-master" targetFramework="native" />
  <package id="Philips.Sense.DLS" version="1.13.0.3925-master" targetFramework="native" />
  <package id="Philips.Sscf" version="1.2.0.1000501" targetFramework="native" />
  <package id="Philips.Trace" version="1.0.0.100314" targetFramework="native" />
</packages>